[submodule "juce"]
    path = JUCE
    url = https://github.com/juce-framework/JUCE.git
    branch = develop
[submodule "py/pyharp"]
	path = py/pyharp
	url = https://github.com/TEAMuP-dev/pyharp
	branch = cb/midi
[submodule "py/pyinstaller"]
	path = py/pyinstaller
	url = https://github.com/hugofloresgarcia/pyinstaller
